body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: rgb(236, 229, 131);
}

.topbar {
  color: #000;
  padding: 0.2em 1.2em;        
  margin: 0.5em 0;             
  border-radius: 20px;         
  display: flex;
  justify-content: flex-end;   
  align-items: center;
  min-height: 1.6em;
}

.topbar .user {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  background-color: pink;
  color: black;
  padding: 0.2em 1.2em;
  margin: 0.5em 0;
  position: relative;
  border-radius: 20px;
  text-align: center;
}

.header .logo {
  height: 90px;                
  width: auto;                 
  display: block;
}

.nav {
  background-color: lightblue;
  padding: 0.2em 1.2em;
  margin: 0.5em 0;
  border-radius: 20px;
}

.invitations {
  background-color: rgb(159, 238, 159);
  padding: 0.5em 1.2em;
  margin: 0.5em 0;
  border-radius: 20px;
}

.inv-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 12px;
  padding: 1.15em 0;                      
}

.inv-title {
  margin: 0;
}

.inv-user-actions a {
  margin-left: 10px;
  text-decoration: none;
  text-decoration: underline;
}

.answers {
  background-color: rgb(203, 166, 238);
  padding: 0.5em 1.2em;
  margin: 0.5em 0;
  border-radius: 20px;
}

h1 {
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

.error {
  color: red;
  font-weight: bold;
}
