{% extends "layout.html" %}

{% block title %}Etsi ilmoitus{% endblock %}

{% block content %}
<div class="invitations">
<h2>Etsi kutsuja</h2>

<form action="/find_invitations" method="get">
  <p>
    <label for="query">Hakusana:</label> 
    <input type="text" name="query" id="query" value="{{ query }}">
  </p>
  <input type="submit" value="Etsi">
</form>


{% if query %}
<h2>Tulokset</h2>

<ul>
  {% for invitation in results %}
  <li><a href="/invitation/{{ invitation.id }}">{{ invitation.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}
</div>
{% endblock %}
