<!DOCTYPE html>
<html>

<head>
  <title>Etusivu</title>
</head>

<body>
  <h1>Etusivu</h1>
  <p>
    <b>Tervetuloa</b> <i>Lasten leikkitreffit -sovellukseen</i>!
  </p>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/new_invitation">Uusi kutsu</a>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  <p>
    <a href="/find_invitations">Etsi kutsuja</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
  </p>
  <p>
    <a href="/find_invitations">Etsi kutsuja</a>
  </p>
  {% endif %}

  <h2>Kutsut</h2>

  <ul>
    {% for invitation in invitations %}
    <li><a href="/invitation/{{ invitation.id }}">{{ invitation.title }}</a> </li>
    {% endfor %}
  </ul>
</body>

</html>