<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  {% if session.username %}
  <div class="topbar">
    <a href="/user/{{ session.user_id }}">{{ session.username }}</a> | 
    <a href="/logout">Kirjaudu ulos</a> 
  </div>
  {% else %}
  <div class="topbar"></div>
  {% endif %}

  <div class="header">
    <img class="logo" src="/static/images/logo.png" alt="Logo">
    <h1>Lasten leikkitreffit</h1>
  </div>

  <div class="nav">
  {% if session.username %}
    <p>
      <a href="/">Etusivu</a> |
      <a href="/new_invitation">Uusi kutsu</a> |
      <a href="/find_invitations">Etsi kutsuja</a> |
      <a href="/user/{{ session.user_id }}">Katso käyttäjäsivusi</a> 
    </p>
  {% else %}
    <p>
      <a href="/">Etusivu</a> |
      <a href="/login">Kirjaudu sisään</a> |
      <a href="/register">Luo tunnus</a> |
      <a href="/find_invitations">Etsi kutsuja</a>
    </p>
  {% endif %}
  </div>

  {% block content %}{% endblock %}

</body>

</html>