<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
</head>

<body>
  {% if error %}
    <div class="error">{{ error }}</div>
  {% endif %}
  {% if message %}
    <div class="error">{{ message }}</div>
  {% endif %}

  <form action="/check" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  <p>
    Eikö sinulla oli käyttäjänimeä? <br />
    <a href="/register">Luo tunnus</a>
  </p>
</body>

</html>