{% extends "layout.html" %}

{% block title %}Lisää uusi kutsu{% endblock %}

{% block content %}
<div class="invitations">
<h2>Uusi kutsu</h2>
<form action="/create_invitation" method="post">
  <p>
    <label for="title">Otsikko:</label> <br />
    <input type="text" name="title" id="title" maxlength="50" required/>
  </p>
  {% for class in classes %}
  <p>
    <label for="class{{ class }}"> {{ class }}</label>: <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{ class}}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <p>
    <label for="name">Leikkipaikan nimi:</label>  <br />
    <input type="text" name="name" id="name" maxlength="50" required/>
  </p>
  <p>
    <label for="location">Leikkipaikan osoite:</label> <br />
    <input type="text" name="location" id="location" maxlength="50" required/>
  </p>
  <p>
    Leikkiaika: <br />
    <label for="day">Päivämäärä: </label> 
    <input type="date" name="day" id="day" min="{{ min_day }}" required/><br />
    <label for="time">Kellonaika: </label>
    <input type="time" name="time" id="time" required/>
  </p>
  <p>
    <label for="childs_name" >Leikkikaverin nimi:</label> <br />
    <input type="text" name="childs_name" id="childs_name" size="5" maxlength="50" required/>
  </p>
  <p>
    <label for="age">Leikkikaverin ikä:</label> <br />
    <select id="age" name="age" id="age" required>
      <option value="" disabled selected>Valitse ikä</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
    </select>
  </p>
  <p>
    <label for="info">Lisätietoa (esim. lapsen kiinnostuksen kohteet, eläinallergiat jne.):</label> <br />
    <textarea name="info" id="info" rows="8" cols="60" maxlength="1000"></textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lisää kutsu" />
</form>
</div>
{% endblock %}