<!DOCTYPE html>
<html>

<head>
  <title>{{ invitation.title }}</title>
</head>

<body>
  <h1>{{ invitation.title }}</h1>
  {% if session.user_id %}
  <form action="/create_answer" method="post">
    <p>
      Leikkikaverin nimi: <br />
      <input type="text" name="childs_name" size="5" maxlength="50" required/>
    </p>
    <p>
      Leikkikaverin ikä: <br />
      <select id="age" name="age" required>
        <option value="" disabled selected>Valitse ikä</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
      </select>
    <p>
    <p>
      Viesti kutsujalle: <br />
      <textarea name="message" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <input type="hidden" name="invitation_id" value="{{ invitation.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Ilmoittaudu" />
  </form>
  {% else %}
  <p>
  Kirjaudu sisään ilmoittautuaksesi mukaan leikkitreffeille: <a href="/login">Kirjaudu sisään</a>
  </p>
  {% endif %}

  <p>
    <a href="/">Takaisin</a>
  </p>

</body>

</html>