<!DOCTYPE html>
<html>

<head>
  <title>Lisää uusi kutsu</title>
</head>

<body>
  <h1>Uusi kutsu</h1>
  <form action="/create_invitation" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" />
    </p>
    <p>
      Leikkipaikan nimi: <br />
      <input type="text" name="name" />
    </p>
    <p>
      Leikkipaikan osoite: <br />
      <input type="text" name="location" />
    </p>
    <p>
      Leikkiaika: <br />
      Päivämäärä: <input type="text" name="day" /> <br />
      Kellonaika: <input type="text" name="time" />
    </p>
    <p>
      Leikkikaverin nimi: <br />
      <input type="text" name="childs_name" size="5"/> vuotta
    </p>
    <p>
      Leikkikaverin ikä: <br />
      <input type="text" name="age" size="5"/> vuotta
    </p>
    <input type="submit" value="Lisää kutsu" />
  </form>
</body>

</html>