<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröinti</title>
</head>

<body>
  {% if error_password%}
    <div class="error">{{ error_password }}</div>
  {% endif %}
  {% if error_username%}
    <div class="error">{{ error_username }}</div>
  {% endif %}
  <form action="/create_user" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" value="{{ username|default('') }}"/>
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
</body>

</html>