<!DOCTYPE html>
<html>

<head>
  <title>{{ invitation.title }}</title>
</head>

<body>
  <h1>{{ invitation.title }}</h1>
  {% if session.user_id == invitation.user_id %}
  <p>
    <a href="/edit_invitation/{{ invitation.id }}">Muokkaa</a>
    <a href="/remove_invitation/{{ invitation.id }}">Poista</a>
  </p>
  {% endif %}
  <p>
    Leikkipaikan nimi: {{ invitation.name }}
  </p>
  <p>
    Leikkipaikan osoite: {{ invitation.location }}
  </p>
  <p>
    Ajankohta: {{ invitation.day}} klo {{ invitation.time }}
  </p>
  <p>
    Leikkikaverin ikä: {{ invitation.age }}
  </p>
  <p>
    Kutsuja: {{ invitation.username }}
  </p>
  <p>
    <a href="/">Takaisin</a>
  </p>

</body>

</html>