<!DOCTYPE html>
<html>

<head>
  <title>Käyttäjä {{ user.username }}</title>
</head>

<body>
  <h1>Käyttäjä {{ user.username }}</h1>
  <h2>Käyttäjän kutsut:</h2>
  <p>
    Käyttäjä on lähettänyt {{ invitations | count }} kutsua
  </p>
  <ul>
    {% for invitation in invitations %}
    <li>
      <a href="/invitation/{{ invitation.id }}">{{ invitation.title }}</a> 
      Ajankohta: {{ invitation.day}} {{ invitation.time}} Paikka: {{ invitation.location}}
    </li>
    {% endfor %}
  </ul>
  <p>
    <a href="/">Takaisin</a>
  </p>

</body>

</html>