{% extends "layout.html" %}

{% block title %}{{ invitation.title }}{% endblock %}

{% block content %}
<div class="invitations">
  <div class="inv-header">
    <h2 class="inv-title">Kutsu: {{ invitation.title }}</h2>
    {% if session.user_id == invitation.user_id %}
      <div class="inv-user-actions">
        <a href="/edit_invitation/{{ invitation.id }}">Muokkaa</a>
        <a href="/remove_invitation/{{ invitation.id }}">Poista</a>
      </div>
    {% endif %}
  </div>
  Kutsuja: <a href="/user/{{ invitation.user_id }}">{{ invitation.username }}</a>
  <ul>
  {% if classes %}
    {% for class in classes %}
    <li>{{ class.title }}: {{ class.value }}</li>
      {% endfor %}
  {% endif %}
  <li>Leikkipaikan nimi: {{ invitation.name }}</li>
  <li>Leikkipaikan osoite: {{ invitation.location }}</li>
  <li>Ajankohta: {{ invitation.day}} klo {{ invitation.time }}</li>
  <li>Leikkikaverin nimi: {{ invitation.childs_name }}</li>
  <li>Leikkikaverin ikä: {{ invitation.age }} vuotta</li>
  <li>Lisätietoa: {{ invitation.info | show_lines }}</li>
</ul>

<div class="answers">
<h2>Ilmoittautumiset</h2>
{% if answers | count > 0 %}
  <ul>
    {% for answer in answers %}
    <li>
      Leikkikaveri: {{ answer.childs_name }} {{ answer.age }} vuotta,
      vastaaja: <a href="/user/{{ answer.user_id }}">{{ answer.username }}</a>
    </li>
    {% endfor %}
  </ul>

  {% if session.user_id in answer_user_ids or session.user_id == invitation.user_id %}
  <div class="messages">
  <h2>Keskustele osallistujien kanssa:</h2>
  <h3>Viestit:</h3>
    {% if messages | count > 0 %}
    <hr />
    {% endif %}
    {% for message in messages %}
    <p>
      {{ message.username }} ({{ message.sent_at }}):
    </p>
      <form action="/delete_message/{{ message.id }}" method="post">
      {{ message.content }}
      {% if session.user_id == message.user_id %}
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <input type="submit" name="remove" value="Poista viesti">
      <input type="hidden" name="message_id" value = "{{ message.id }}">
      <input type="hidden" name="invitation_id" value="{{ invitation.id }}">
      {% endif %}
      </form>
    <hr />
    {% endfor %}

  </ul>
  <form action="/create_message" method="post">
    <p>
      <label for="content">Uusi viesti: </label><br>
      <textarea name="content" id="content" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <input type="hidden" name="invitation_id" value="{{ invitation.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
  </form>
  </div>

  {% endif %}

{% else %}
<p>
  Ei vielä ilmoittautumisia
</p>
{% endif %}
</ul>
{% if session.user_id %}
  {% if session.user_id != invitation.user_id and session.user_id not in answer_user_ids%}
  <h3>Ilmoittaudu mukaan leikkitreffeille</h3>
  <form action="/create_answer" method="post">
    <p>
      <label for="childs_name">Leikkikaverin nimi:</label> <br />
      <input type="text" name="childs_name" id="childs_name" size="5" maxlength="50" required/>
    </p>
    <p>
      <label for="age">Leikkikaverin ikä:</label> <br />
      <select id="age" name="age" id="age" required>
        <option value="" disabled selected>Valitse ikä</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
      </select>
    <p>
    <p>
      <label for="message">Viesti kutsujalle:</label> <br />
      <textarea name="message" id="message" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
    Vastaaja: <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    </p>
    <input type="hidden" name="invitation_id" value="{{ invitation.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Ilmoittaudu" />
  </form>
  {% endif %}
{% else %}
  <p>
  Kirjaudu sisään ilmoittautuaksesi mukaan leikkitreffeille: <a href="/login">Kirjaudu sisään</a>
  </p>
{% endif %}
</div>
</div>
{% endblock %}